.changelog-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

.outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.date-box p {
    font-size: 16px;
    font-weight: 500;
    margin: 5px 15;
    color: gray;
    text-align: center;
}

.date-box, .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #d0d0d0;
    border-radius: 8px;
    padding: 6px;
    margin: 20px;

    width: 150px;
    height: 12px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.progress-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-line {
    width: 6px;
    height: 300px;
    background-color: black;
    border-radius: 12px;
}

.done {
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 100%;
    position: absolute;
    margin-left: -12px;
    margin-top: auto;
}