.changelog-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

.outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.date-box p {
    font-size: 16px;
    font-weight: 500;
    margin: 5px 15;
    color: gray;
    text-align: center;
}

.date-box, .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #d0d0d0;
    border-radius: 8px;
    padding: 6px;
    margin: 20px;

    width: 150px;
    height: 12px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.progress-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-line {
    width: 6px;
    height: 300px;
    background-color: black;
    border-radius: 12px;
    position: relative;
}

.progress-line-stop {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-line-stop:nth-child(1) { top: 8%; }
.progress-line-stop:nth-child(2) { top: 22%; }
.progress-line-stop:nth-child(3) { top: 38%; }
.progress-line-stop:nth-child(4) { top: 54%; }
.progress-line-stop:nth-child(5) { top: 69%; }
.progress-line-stop:nth-child(6) { top: 85%; }

.done {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}
